doctype html
html(lang='en')
  head 
    meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1")
    title Todo
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  body 
    form(action='')
    div(id='myDIV' class='header')
      h2(style='margin:5px') My To Do List
      input(type='text' id='myInput' placeholder='Title...')
      span(onclick="newElement()" class="addBtn") Add

    ul(id='myUL')
      li Hit the gym
      li(class='checked') Pay bills
      li Meet George
      li Buy eggs
      li Read a book
    ul(id='myUL')
      each el in item
        li= el.title

//- <script>
//- // Create a "close" button and append it to each list item
//- var myNodelist = document.getElementsByTagName("LI");
//- var i;
//- for (i = 0; i < myNodelist.length; i++) {
//-   var span = document.createElement("SPAN");
//-   var txt = document.createTextNode("\u00D7");
//-   span.className = "close";
//-   span.appendChild(txt);
//-   myNodelist[i].appendChild(span);
//- }

//- // Click on a close button to hide the current list item
//- var close = document.getElementsByClassName("close");
//- var i;
//- for (i = 0; i < close.length; i++) {
//-   close[i].onclick = function() {
//-     var div = this.parentElement;
//-     div.style.display = "none";
//-   }
//- }

//- // Add a "checked" symbol when clicking on a list item
//- var list = document.querySelector('ul');
//- list.addEventListener('click', function(ev) {
//-   if (ev.target.tagName === 'LI') {
//-     ev.target.classList.toggle('checked');
//-   }
//- }, false);

//- // Create a new list item when clicking on the "Add" button
//- function newElement() {
//-   var li = document.createElement("li");
//-   var inputValue = document.getElementById("myInput").value;
//-   var t = document.createTextNode(inputValue);
//-   li.appendChild(t);
//-   if (inputValue === '') {
//-     alert("You must write something!");
//-   } else {
//-     document.getElementById("myUL").appendChild(li);
//-   }
//-   document.getElementById("myInput").value = "";

//-   var span = document.createElement("SPAN");
//-   var txt = document.createTextNode("\u00D7");
//-   span.className = "close";
//-   span.appendChild(txt);
//-   li.appendChild(span);

//-   for (i = 0; i < close.length; i++) {
//-     close[i].onclick = function() {
//-       var div = this.parentElement;
//-       div.style.display = "none";
//-     }
//-   }
//- }
//- </script>
